/AlphabetTriangle.class
/DiamondPyramid.class
/FloydTriangle.class
/HallowLeftTriangle.class
/HallowSquare.class
/InvertLeftAngle.class
/InvertRightAngle.class
/InvertedPyramid.class
/LeftAngle.class
/LeftAngleTriangle.class
/LowerPyramid.class
/NumberLeftAngle.class
/PascalTriangle.class
/PyramidPattern.class
/Reversepattern.class
/RightAngle.class
/RightAngleTriangle.class
/Square.class
/UpperTriangle.class
