/ArmstrongNumber.class
/ContinueDemo.class
/CountLengthNumber.class
/DecimalConversion.class
/EvenDigitNUmber.class
/Evennumbers.class
/Factorial.class
/Fibbonaci.class
/GCD.class
/LCM.class
/LargestDigit.class
/MagicNumber.class
/NegativeNumber.class
/NeonNumber.class
/OddDigitNumber.class
/PalindromeNumber.class
/PerfectNumber.class
/PrimeCheck.class
/Print1toN.class
/PrintODD.class
/PrintPrimeNumbers.class
/ReverseNumber.class
/SecretNumber.class
/SkipMul5.class
/SkipVowels.class
/SmallestNumber.class
/SpyNumber.class
/StrongNumber.class
/SumofDigits.class
/SumofPrimes.class
/Tables.class
/skipVowel.class
